<div class="box">

  <h2>编辑资料</h2>

  <div class="avatar">
    <%= user_avatar_tag(@user, :large) %><br>
    <%= user_name_tag(@user) %>
    <a href="http://gravatar.com/emails">更换头像？</a>
  </div>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <% devise_error_messages! %>

    <div class="clearfix">
      <%= f.label :email %>
      <div class="input">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password %>
      <div class="input">
        <%= f.password_field :password %>
        <br />
        <span class="help-block">Leave blank if you do not want to change it</span>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password_confirmation %>
      <div class="input">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :current_password %>
      <div class="input">
        <%= f.password_field :current_password %>
        <br />
        <span class="help-block">we need your current password to confirm your changes</span>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Update", :class => "btn primary" %>
    </div>
  <% end %>
  <div class="clearfix"></div>

  <div class="cancel_account">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "btn danger" %>.</p>
  </div>

  <%= link_to "Back", :back %>
</div>
