
<h1>All Nodes</h1>

<table>

<% @nodes.each do |node| %>
  <tr>
  <td><%= link_to node.title , node %>(<%= node.posts_count %>条帖子)</td>
    <td><%= link_to 'Destroy', node, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>



<h2>
  <p>Create a node here !</p>
</h2>
<%= form_for @node do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit 'create'%>
  </div>
<% end %>
