<div class="box">
  <h2>All Nodes</h2>

  <ul id="node_list" class="unstyled">
  <% @nodes.each do |node| %>
    <li>
    <%= link_to node.title , node %>  (<%= node.posts_count %> posts)</td>
    <% if current_user.admin? %>
      <%= link_to 'Destroy', node, confirm: 'Are you sure?', method: :delete %>
    <% end %>
    </li>
  <% end %>
  </ul>



  <h2>
  </h2>
  <%= form_for @node do |f| %>
    <fieldset>

      <legend> Create a node here !  </legend>
      <div class="clearfix">
        <%= f.label :title %>
        <div class="input">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'create', :class => "btn primary" %>
      </div>

    </fieldset>
  <% end %>
</div>
