
<h1>All Nodes</h1>

<% @nodes.each do |node| %>
  <h3>
  <%= link_to node.title , node %>(<%= node.posts_count %>条帖子)</td>
<% if current_user.admin? %>
  <%= link_to 'Destroy', node, confirm: 'Are you sure?', method: :delete %>
<% end %>
</h3>
<% end %>



<h2>
  <p>Create a node here !</p>
</h2>
<%= form_for @node do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit 'create'%>
  </div>
<% end %>
