<%= form_for @post, :wrapper => :inline  do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <br />
    <%= f.select :node_id, Node.all.collect { |n| [n.title, n.id] },{}, :style => "width:140px" %>
  </div>


  <span class="span6">
    <%= f.text_field :title %>
  </span>
  <div class="field">
    <%= f.text_area :raw_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
