<div class="content">
	<div class="box posts">
      <div id="node_info">
        <%= render 'posts/node_info', :node => @node, :user => @user %>
      </div>
      <div class="topics">
        <% @posts.each do |post| %>
          <div class="topic topic_line">
            <%= user_avatar_tag(post.user, :normal) %>
          </div>
          <div class="right_info">
            <div class="infos">
              <div class="title">
                <%= link_to(truncate(post.title, :length => 100), post_path(post), :title => post.title) %>
              </div>
              <div class="info leader">
                由<%= user_name_tag(post.user) %>
                在 <%= render_node_name(post.node_id) %> 节点创建
              </div>
              <div class="info time">
                <% if post.last_comment_user.blank? %>
                  创建于<%= post.created_at %>
                <% else %>
                  由 <%= user_name_tag(post.last_comment_user) %>
                   最后评论于<%= post.created_at %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= custom_will_paginate @posts %>
	</div>
</div>
