<p id="notice"><%= notice %></p>

<div class="box">
  <p>
    <h2>
      <%= @post.title %>
    </h2>
  </p>

  <% user = @post.user rescue User.where(:user_id => @post.user_id) %>
  <% if current_user.admin? or current_user == user %>
    <%= link_to 'Edit', edit_post_path %> |
    <%= link_to 'Delete', post_path, method: :delete,
    confirm: "You sure?" %>
<% end %>


<article>
  <%= raw @post.content %>
</article>

<%= render 'common/share' %>
<br /><br /><br /><%= render 'comments' %>

<h4 class="new_comment_title">Add new comment</h4>

<%= form_for [@post, @post.comments.new], :remote => true do |f| %>
  <fieldset>
    <div class="clearfix">
      <%= f.text_area :raw_content, :rows => 3, :class => "span8" %>
    </div>
    <%= f.submit :class => "btn primary" %>
  </fieldset>
<% end %>

<%= link_to 'Back', posts_path %>
</div>
