<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= raw @post.content %>
</p>

<%= render 'comments' %>

<h2>Add a comment:</h2>
<%= form_for [@post, @post.comments.new], :remote => true do |f| %>
  <p>
    <%= f.text_area :raw_content, :rows => 3 %>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_post_path %> |
<%= link_to 'Back', posts_path %>
