<!DOCTYPE html>
<html>
<head>
  <title>Attix.us</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

</head>
<body>

  <%= render :partial => 'layouts/topbar' %>

  <div class="container">
    <div id="main" class="container-fluid">
      <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
  </div>

  <% if Rails.env.development? %>
    <%= debug(params) %>
  <% end %>

  <%= render :partial => 'layouts/footer' %>

</body>
</html>
