<!DOCTYPE html>
<html>
<head>
  <title>Attix.us</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

</head>
<body>

  <%= render :partial => 'layouts/topbar' %>

  <div class="container">
    <div id="main" class="container">
      <% unless alert.nil? %>
        <p class="alert-message"><%= alert %></p>
      <% end %>
        <%= yield %>
    </div>
  </div>

  <% if Rails.env.development?%>
   <%= debug(params)%>
  <% end%>

  <% if Rails.env.production? %>
    <%= render :partial =>  'common/google_analytics' %>
  <% end %>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
